/* Squeeze the entry details a little. */
#user-entry td {
    padding: 5px;
}
/* Put the list title in bold. */
#user-list h2 {
    font-weight: bold;
}
/* Adjust the user list column widths slightly to allow name/mail to be bigger */
#rec_num 
#pause {
    width: 15%;
}
